<section class="section store-form-section">
  <div class="container ">
    <div class="store-form stay-centered">
        <h1 class="title is-4">新增店家</h1>
        <div class="box">
        <%= render 'form' %>
        
        </div>
    </div>  
    
  </div>
</section>
