$blue: #6c5ce7;
$yellow: #fdcb6e;
body{
    // padding-bottom: 100px !important;
    min-height: 100vh;
    position: relative;
}
.outsider{
    width: 100%;
    max-width: 1024px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
}
.left-fix-1{
    position: relative;
    left: 15%;
}
.height-fix-1{
    max-height: 480px;
    overflow-y: scroll;
}
.height-fix-2{
    max-height: 360px;
    overflow-y: scroll;
}
.state-p{
    color: white;
    background-color: rgb(220, 59, 59);
    border-radius: 3px;
    padding: 2px 4px;
}
.state-f{
    color: white;
    background-color: rgb(46, 192, 136);
    border-radius: 3px;
    padding: 2px 4px;
}
.state-r{
    color: white;
    background-color: rgb(41, 43, 42);
    border-radius: 3px;
    padding: 2px 4px;
}
.style-3{
    background-color: rgba($color: #2b2b2b, $alpha: 1.0) !important;
    color: white !important;
    &:hover{
        background-color: rgba($color: #bbbbbb, $alpha: 1.0) !important;
        color: black !important;
    }
}
.style-3-fix{
    background-color: rgba($color: #2b2b2b, $alpha: 1.0) !important;
    color: white !important;
}
.zindex-h{
    z-index: 100 !important;
}
.zindex-l{
    z-index: 1 !important;
}
.dropdown-fix{
    max-height: 200px;
    overflow-y: scroll;
}
.dp-btn{
    width: 100%;
    
    display: flex;
    padding: 2px 10px;
    display: flex;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}
.has-center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.read-msg{
    background-color: #e6e6e6 !important;
    color: #656464 !important;
}
.mt-2{
    margin-top: 3rem;
}
.mr-2{
    margin-right: 3rem;
}
.mb-2{
    margin-bottom: 3rem !important;
}
.ml-2{
    margin-left: 3rem
}
.btn{
    width: 100%;
    padding: 2px 10px;
    display: flex;
    border-radius: 5px;
    margin-bottom: 6px;
    color: black;
    &:hover{
    //    border: 1px solid rgba($color: #b5b5b5, $alpha: 1.0); 
       background-color: rgba($color: #ebebeb, $alpha: 1.0); 
    }
    
}
.hover-effect{
    &:hover{
        border: 1px solid $blue;
    }
}
.hover-effect-2{
    &:hover{
        box-shadow: 6px 6px 16px rgba(0,0,0,0.3);
    }
}
.group-container{
    margin-bottom: 20px;
    // border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding:5px;
    padding-left: 10px;
    box-shadow: 6px 6px 16px rgba(0,0,0,0.3);
}
.group-title{
    padding-left: 0px !important;
}
.is-alarm{
    color:rgb(220, 59, 59);
}
.title-style-1{
    text-align: center;
    padding: 4px 2px ;
    color: $blue !important;
}
.mt-2{
    margin-top: 4px;
}
.divider{
    border-bottom: 1px solid rgba($color: #ebebeb, $alpha: 1.0);
    margin-top: 10px;
    margin-bottom: 10px;
}
.image-fix{
    border-radius: 5px;
    overflow: hidden;
}
.icon-fix{
    position: relative;
    top:3px;
    // transform: translateY(-50%);
    margin-right: 8px;
}
.border{
    border: 1px solid rgba($color: #ebebeb, $alpha: 1.0);
    border-radius: 3px;
}
.group-title{
    padding: 4px 8px;
}
.image-fix{
    position: relative;
    top: 3px;
    margin-right: 4px;
}
.style-1 {
    background-color: $blue !important;
    color: white !important;
    &:hover{
        color: $yellow !important;
    }
}
.style-2 {
    background-color: $blue !important;
    color: $yellow !important;
    &:hover{
        color: white !important;
    }
}
.logo-title {
    font-size: 1.4rem;
    font-weight: bold;
}
.footer {
    position: fixed;
    bottom: 0px;
}
.store-section{
    width: 70%;
}
.stay-centered{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.store-form{
    max-width: 80%;
}
.box-mb{
    margin-bottom: 40px;
}
.border{
    border: 1px solid gray;
}
.card-fix{
    position: absolute !important;
    bottom: 50px;
    left: 50px;
}
.out-relative{
    position: relative;
}
.has-description{
    max-width: 300px;
}
.border{
    border: 1px solid gray;
    border-radius: 5px;
}
/* flash 特效處理 */
.style-notification{
    background-color: $blue !important;
    border-radius: 0px;
}
.notification{
    margin: 0px;
    position: fixed !important;;
    bottom: 0px;
    // padding:2px 4px;
    width: 30%;
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    opacity: 0;
    left: -100%;
    // box-shadow: -13px 0px 7px -1px #6c5ce7;
}
@keyframes fadeOut{
    0%{
        left: -100%;
        opacity: 0;
    }
    20%{
        left: 0%;
        opacity: 1;
    }
    80%{
        left: 0%;
        opacity: 1;
    }
    100%{
        left: 100%;
        opacity: 0.5;
    }
}