$black: #1F2124;
$gray: #303030;
$light_gray: #282828;
$white: #F1F1F1;
$border_white: #8f8f8f;

.height-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

body.dark-mode{
  background-color: $black;
  color: $white;
  div{  //沒有繼承成功
    color: inherit !important;
  }
  .background-light-gray{
    background-color: $light_gray;
  }
  .background-border-white{
    background-color: $border-white !important;
  }
  .background-black{
    background-color: $black !important;
  }
  .color-white{
    color: $white;
  }
  .border-white{
    border: 1px solid $border-white;
  }
  .color-yellow{
    color: #EECC8D !important;
  }
  .btn{
    color: $white;
    padding: 6px 14px;
    &:hover{
      background-color: $gray;
      color: $white;
      
    }
  }
  .divider{
    border-bottom: 1px solid $gray !important;
  }
  .title-dark{
    color: $white;
  }
  nav.dark-mode{
    background-color: $black;
    color: $white;
    button{
      background-color: inherit !important;
      color: inherit !important;
      
    }
    
    .navbar-item{
      color: inherit !important;
      border-radius: 50%;
     
      &:hover{
        background-color: $gray !important;
      }
    }
    .nav-icon-fix{
      color: $white;
      // transform: translateX(-2px);
      &:hover{
          color: $white;
      }
    }
    
  }
  .group-container-dark{
    height: 280px;
    overflow: hidden;
    // border-radius: 10px;
  }
  .card-dark{
    background-color: $gray !important;
    color: $white !important;
    // border: 1px solid $border_white;
    .title{
      color: $white !important; 
    }
    .subtitle{
      color: $border_white !important;
    }
    .menubar-dark{
      background-color: $gray;
      padding-top: 6px;
    }
    .card-content-dark{
      background-color: $border_white;
    }
    .item-content-dark{
      background-color: $gray;
      border-radius: 0px 0px 4px 4px;
    }
    .store-menu-dark{
      border-left: 1px solid $border_white !important;
    }
  }
  .button-dark{
    background-color: $black;
    color: $white;
  }
}

