<div class="outsider">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <div class="card card-dark">
          <div class="card-content">
            
            <div class="title is-4 ">
              管理群組
            </div>
            
            <%= render 'form' %> 
            <div class="columns">
              <div class="column is-6">
                <%= link_to '解散這個群組', group_path(@group), method: :delete,class:'button is-small is-fullwidth mt-2 button-dark', data:{confirm:"確定要解散這個群租嗎？"} %>
              </div>
              <div class="column is-6">
                <%= link_to '回到群組', group_stores_path(@group),class:'button is-small is-fullwidth mt-2 button-dark' %>
              </div>
            </div>
            
          </div>
      </div>
    </div>
  </div>
</div>