<div class="outsider">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="title is-5 title-dark">開一個新個群組</div>
            <div class="card card-dark border">
                <div class="card-content">
                    <%= render 'form' %> 
                </div>
            </div>
        </div>
    </div>
</div>