<div class="footer-kg background-black">
  <div class="outsider">
    <div class="columns">
      <div class="column is-3">
        <div class="color-yellow">
          17Buy 團購網  
        </div>
      
      </div>
      <div class="column is-3">
        <div class="title is-6">
          店家
        </div>
        <div>推薦</div>
        <div>分類</div>
        <div>優惠中</div>
        <div class="subtitle is-6"></div>

      </div>
      <div class="column is-3">
        <div class="title is-6">
          搜尋
        </div>
        <div class="">日式套餐</div>
        <div class="">韓式料理</div>
        <div class="">台灣小吃</div>
      </div>
      <div class="column is-3">
        <div class="title is-6">
          連結
        </div>
        <div>關我聯絡</div>
      </div>
    </div>
    <div class="divider"></div>
    © 2023 KevinGu
  </div>
  <br>
  <br>
</div>